@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.typing {
  width: 30ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 2.5s steps(30), blink 0.6s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
}

@keyframes blink {
  50% { border-color: transparent }
}
